.todo {
    width: max(80%, 400px); /* 최소: 400px*/
    margin: 20px auto; /* 20px : 위 아래 auto: 가운데 */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.todo__form{
    display: flex; 
    padding: 10px;
    margin-bottom: 10px;
}
.todo__input{
    padding: 10px;;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1; /* flex 공간의 나머지 여백 만큼 늘리자 ~ */
}
.todo__button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer; /* 마우스 손가락 */
    font-size: 1.2em;
    color: #fff;
}
.todo__button--add{
    background-color: #4984e4;
}
.todo__item {
    display: flex;
    align-items: center; /*높이 가운데 정렬*/
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    gap: 10px; /* flex 된 item 사이의 여백 */
}
.todo__check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #999; /* 체크한 배경색 : 눈에 안 띄게*/
}
.todo__label {
    flex: 1;
}
.todo__button--edit,
.todo__button--delete {
    font-size: 0.8em;
}
.todo__label--complete .todo__label {
    text-decoration: line-through;
    color: #999;
}
